# Clean output from python notebooks
# Add the following to ~/.gitconfig
# 
# [filter "nbstripout"]
#   clean = /home/biddisco/.venv-pyhome/bin/nbstripout
#   smudge = cat
#   required = false

*.ipynb filter=nbstripout
